<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="text" name="password">
        <label>first Name</label>
        <input type="text" name="firstName">
        <label>Last Name</label>
        <input type="text" name="lastName">
        <label>Year</label>
        <input type="text" name="year">
        <label>House</label>
        <input type="text" name="house">
        <input type="submit" value="register">
    </form>
</body>
</html>